<div class="container my-3">
  <h4 class="text-center">Индивидуальные предприниматели</h4>
  <table class="table table-sm table-striped my-3">
    <thead>
    <tr class="text-md-center align-top">
      <th style="width: 20%">Фамилия</th>
      <th style="width: 20%">Имя</th>
      <th style="width: 20%">Отчество</th>
      <th style="width: 30%">Адрес</th>
      <th style="width: 10%">Подробно</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr *ngFor="let ie of ieList" class="text-md-center">
      <td>{{ ie.fullNameGroup.lastName }}</td>
      <td>{{ ie.fullNameGroup.firstName }}</td>
      <td>{{ ie.fullNameGroup.middleName }}</td>
      <td>{{ ie.address }}</td>
      <td class="align-middle">
        <button type="button" class="btn btn-outline-primary btn-sm"
                data-bs-toggle="modal" data-bs-target="#ieDetails"
                (click)="ieDetails(ie)">
          Просмотреть
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#saveIe"
          (click)="onCreateClick()">
    Добавить
  </button>
</div>

<!-- Details Modal -->
<div class="modal fade" id="ieDetails" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="ieDetailsLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="ieDetailsLabel">Подробная информация о ИП</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <h6>Фамилия, имя, отчество</h6>
            <p>
              {{ ie.fullNameGroup.lastName }}
              {{ ie.fullNameGroup.firstName }}
              {{ ie.fullNameGroup.middleName }}
            </p>
            <h6>Адрес</h6>
            <p>
              {{ ie.address }}
            </p>
            <h6>ИНН</h6>
            <p>
              {{ ie.inn }}
            </p>
            <h6>ОГРНИП</h6>
            <p>
              {{ ie.ogrnip }}
            </p>
          </div>
          <div class="col-6">
            @if (ie.sro) {
              <h6>
                Данные саморегулируемой организации, членом которой является индивидуальный предприниматель
              </h6>
              <p>Наименование: {{ ie.sro.name }}</p>
              <p>ИНН {{ ie.sro.inn }}</p>
              <p>ОГРН {{ ie.sro.ogrn }}</p>
            }
            <h6>Роли, в качестве которых может выступать данный ИП</h6>
            <div *ngFor="let role of ie.roleSet">
              * {{ role.roleName }}
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#saveIe"
                (click)="onUpdateClick()">
          Редактировать
        </button>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
          Удалить
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Save Modal -->
<div class="modal fade" id="saveIe" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="saveIeLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        @if (entityIsCreated) {
          <h1 class="modal-title fs-5">Добавление нового ИП</h1>
        } @else {
          <h1 class="modal-title fs-5">Редактирование</h1>
        }
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formGroup">

          <div class="row">
            <div class="col-6">
              <label class="form-label">Ф.И.О</label>
              <div class="input-group">
                <span class="input-group-text">Фамилия</span>
                <input formControlName="lastName" type="text" class="form-control" id="lastName">
              </div>
              <div *ngIf="formGroup.controls['lastName'].errors" class="error">
                <div *ngIf="formGroup.controls['lastName'].errors?.['required']"
                     class="text-danger form-text">
                  Поле обязательно для заполнения
                </div>
              </div>
              <div class="input-group mt-3">
                <span class="input-group-text">Имя</span>
                <input formControlName="firstName" type="text" class="form-control" id="firstName">
              </div>
              <div *ngIf="formGroup.controls['firstName'].errors" class="error">
                <div *ngIf="formGroup.controls['firstName'].errors?.['required']"
                     class="text-danger form-text">
                  Поле обязательно для заполнения
                </div>
              </div>
              <div class="input-group mt-3">
                <span class="input-group-text">Отчество</span>
                <input formControlName="middleName" type="text" class="form-control" id="middleName">
              </div>

              <div class="mt-3">
                <label class="form-label">Адрес</label>
                <input formControlName="address" type="text" class="form-control" id="address"
                       aria-describedby="addressHelp">
                <div id="addressHelp" class="form-text">Почтовый адрес</div>
              </div>
              <div *ngIf="formGroup.controls['address'].errors" class="error">
                <div *ngIf="formGroup.controls['address'].errors?.['required']"
                     class="text-danger form-text">
                  Поле обязательно для заполнения
                </div>
              </div>
            </div>

            <div class="col-6">
              <div>
                <label class="form-label">ИНН</label>
                <input formControlName="inn" type="text" class="form-control" id="inn">
              </div>
              <div *ngIf="formGroup.controls['inn'].errors" class="error">
                <div *ngIf="formGroup.controls['inn'].errors?.['required']"
                     class="text-danger form-text">
                  Поле обязательно для заполнения
                </div>
              </div>

              <div class="mt-3">
                <label class="form-label">ОГРНИП</label>
                <input formControlName="ogrnip" type="text" class="form-control" id="ogrnip">
              </div>
              <div *ngIf="formGroup.controls['ogrnip'].errors" class="error">
                <div *ngIf="formGroup.controls['ogrnip'].errors?.['required']"
                     class="text-danger form-text">
                  Поле обязательно для заполнения
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div class="mt-3">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" role="switch" id="isSroMember"
                     [checked]="isSroMember" (change)="setSroSwitch(!isSroMember)">
              <label class="form-check-label" for="isSroMember">
                Является членом Саморегулируемого общества
              </label>
            </div>
            @if (isSroMember) {
              <select class="form-select" formControlName="sro">
                @for (sro of sroList; track $index) {
                  <option [ngValue]="sro" [selected]="ie.sro && sro.uuid == ie.sro.uuid">
                    {{ sro.name }}
                  </option>
                }
              </select>
            }
          </div>

          <hr>

          <div class="row">
            <label class="form-label">
              Роли, в качестве которых может выступать данный индивидуальный предприниматель
            </label>
            <div class="col-6">
              <div class="text-md-center mb-2">Доступные</div>
              <table class="table table-sm table-borderless table-striped">
                <tbody class="table-group-divider">
                <tr *ngFor="let freeRole of freeRoleList">
                  <td>{{ freeRole.roleName }}</td>
                  <td style="width: 1%">
                    <button class="btn btn-sm btn-outline-info"
                            (click)="onAddRoleClick(freeRole)">
                      Выбрать
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-6">
              <div class="text-md-center mb-2">Выбранные</div>
              <table class="table table-sm table-borderless table-striped">
                <tbody class="table-group-divider">
                <tr *ngFor="let assignedRole of assignedRoleList">
                  <td>{{ assignedRole.roleName }}</td>
                  <td style="width: 1%">
                    <button class="btn btn-sm btn-outline-warning"
                            (click)="onDeleteRoleClick(assignedRole)">
                      Удалить
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="button" [disabled]="formGroup.invalid" class="btn btn-success" data-bs-dismiss="modal"
                (click)="saveIndividualEntrepreneur()">
          Сохранить
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-bg-danger">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Подтвердите удаление</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Внимание! Данное действие приведет к полному удалению без возможности восстановления
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                (click)="deleteIndividualEntrepreneur()">
          Подтвердить
        </button>
      </div>
    </div>
  </div>
</div>
