<div class="container my-3">
  <h4 class="text-center">Физические лица</h4>
  <table class="table table-sm table-striped my-3">
    <thead>
    <tr class="text-md-center align-top">
      <th style="width: 15%">Фамилия</th>
      <th style="width: 15%">Имя</th>
      <th style="width: 15%">Отчество</th>
      <th style="width: 20%">Адрес</th>
      <th style="width: 25%">Паспортные данные (иной документ для иностранных граждан)</th>
      <th style="width: 10%">Подробно</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr *ngFor="let individual of individualList"  class="text-md-center">
      <td>{{ individual.fullNameGroup.lastName }}</td>
      <td>{{ individual.fullNameGroup.firstName }}</td>
      <td>{{ individual.fullNameGroup.middleName }}</td>
      <td>{{ individual.address }}</td>
      <td>
        @if (individual.isaRussianFederationCitizen) {
          <div>
            паспорт: <br>
            серия {{ individual.passportDetails.passportDetailsRussianFederation.series }}
            номер {{ individual.passportDetails.passportDetailsRussianFederation.number }}
          </div>
        } @else {
          <div>
            наименование документа: {{ individual.passportDetails.documentDetailsForeign.docName }} <br>
            серия {{ individual.passportDetails.documentDetailsForeign.series }}
            номер {{ individual.passportDetails.documentDetailsForeign.number }}
          </div>
        }
      </td>
      <td class="align-middle">
        <button type="button" class="btn btn-outline-primary btn-sm"
                data-bs-toggle="modal" data-bs-target="#individualDetails"
                (click)="individualDetails(individual)">
          Просмотреть
        </button>
      </td>
    </tr>
    </tbody>
  </table>

  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#saveIndividual"
          (click)="onCreateClick()">
    Добавить
  </button>
</div>

<!-- Details Modal -->
<div class="modal fade" id="individualDetails" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="individualDetailsLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="individualDetailsLabel">Подробная информация о физическом лице</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6>Фамилия, имя, отчество</h6>
        <p>
          {{ individual.fullNameGroup.lastName }}
          {{ individual.fullNameGroup.firstName }}
          {{ individual.fullNameGroup.middleName }}
        </p>
        <h6>Адрес</h6>
        <p>
          {{ individual.address }}
        </p>
        <h6>Паспортные данные</h6>
        @if (individual.isaRussianFederationCitizen) {
          <div class="mb-3">
            паспорт:
            серия {{ individual.passportDetails.passportDetailsRussianFederation.series }}
            номер {{ individual.passportDetails.passportDetailsRussianFederation.number }} <br>
            дата выдачи {{ individual.passportDetails.passportDetailsRussianFederation.dateIssue
            | date : "dd.MM.YYYY" }}
          </div>
        } @else {
          <div class="mb-3">
            наименование документа: {{ individual.passportDetails.documentDetailsForeign.docName }} <br>
            серия {{ individual.passportDetails.documentDetailsForeign.series }} <br>
            номер {{ individual.passportDetails.documentDetailsForeign.number }} <br>
            дата выдачи {{ individual.passportDetails.documentDetailsForeign.dateIssue
            | date : "dd.MM.YYYY" }}
          </div>
        }
        <h6>Роли, в качестве которых может выступать данное физическое лицо</h6>
        <div *ngFor="let role of individual.roleSet">
          * {{ role.roleName }}
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#saveIndividual"
                (click)="onUpdateClick()">
          Редактировать
        </button>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
          Удалить
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Save Modal -->
<div class="modal fade" id="saveIndividual" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="saveIndividualLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        @if (entityIsCreated) {
          <h1 class="modal-title fs-5">Добавление нового ФЛ</h1>
        } @else {
          <h1 class="modal-title fs-5">Редактирование</h1>
        }
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formGroup">

          <label class="form-label">Ф.И.О</label>
          <div class="input-group">
            <span class="input-group-text">Фамилия</span>
            <input formControlName="lastName" type="text" class="form-control" id="lastName">
          </div>
          <div *ngIf="formGroup.controls['lastName'].errors" class="error">
            <div *ngIf="formGroup.controls['lastName'].errors?.['required']"
                 class="text-danger form-text">
              Поле обязательно для заполнения
            </div>
          </div>
          <div class="input-group mt-3">
            <span class="input-group-text">Имя</span>
            <input formControlName="firstName" type="text" class="form-control" id="firstName">
          </div>
          <div *ngIf="formGroup.controls['firstName'].errors" class="error">
            <div *ngIf="formGroup.controls['firstName'].errors?.['required']"
                 class="text-danger form-text">
              Поле обязательно для заполнения
            </div>
          </div>
          <div class="input-group mt-3">
            <span class="input-group-text">Отчество</span>
            <input formControlName="middleName" type="text" class="form-control" id="middleName">
          </div>

          <div class="mt-3">
            <label class="form-label">Адрес</label>
            <input formControlName="address" type="text" class="form-control" id="address"
                   aria-describedby="addressHelp">
            <div id="addressHelp" class="form-text">Почтовый адрес</div>
          </div>
          <div *ngIf="formGroup.controls['address'].errors" class="error">
            <div *ngIf="formGroup.controls['address'].errors?.['required']"
                 class="text-danger form-text">
              Поле обязательно для заполнения
            </div>
          </div>

          <hr>

          <!-- Выбор гражданства выполняется только при создании сущности -->
          @if (entityIsCreated) {
            <div class="mt-3">
              <div class="form-check form-switch">
                <input formControlName="isaRussianFederationCitizen" class="form-check-input"
                       type="checkbox" role="switch" id="isaRussianFederationCitizen" checked>
                <label class="form-check-label" for="isaRussianFederationCitizen">
                  Является гражданином Российской Федерации
                </label>
              </div>
            </div>
          }
          <div class="mt-3">
            <!-- Отображение типа документа в зависимости от операции:
             - при создании тип определяем из значения Control-а isaRussianFederationCitizen
             - при редактировании из значения соответствующего поля полученной сущности -->
            @if ((!entityIsCreated && individual.isaRussianFederationCitizen) ||
            (entityIsCreated && formGroup.controls["isaRussianFederationCitizen"].value)) {
              <label class="form-label">Паспортные данные</label>
              <div class="input-group">
                <span class="input-group-text">Паспорт серия</span>
                <input formControlName="ru_series" type="text" class="form-control" id="ru_series">
                <span class="input-group-text">номер</span>
                <input formControlName="ru_number" type="text" class="form-control" id="ru_number">
                <span class="input-group-text">дата выдачи</span>
                <input formControlName="ru_dateIssue" type="date" class="form-control" id="ru_dateIssue">
              </div>
            } @else {
              <div>
                <label class="form-label">Наименование документа (для иностранных граждан)</label>
                <input formControlName="foreign_docName" type="text" class="form-control" id="foreign_docName">
                <div class="input-group mt-3">
                  <span class="input-group-text">серия</span>
                  <input formControlName="foreign_series" type="text" class="form-control" id="foreign_series">
                  <span class="input-group-text">номер</span>
                  <input formControlName="foreign_number" type="text" class="form-control" id="foreign_number">
                  <span class="input-group-text">дата выдачи</span>
                  <input formControlName="foreign_dateIssue" type="date" class="form-control" id="foreign_dateIssue">
                </div>
              </div>
            }
          </div>

          <hr>

          <div class="row">
            <label class="form-label">
              Роли, в качестве которых может выступать данное физическое лицо
            </label>
            <div class="col-6">
              <div class="text-md-center mb-2">Доступные</div>
              <table class="table table-sm table-borderless table-striped">
                <tbody class="table-group-divider">
                <tr *ngFor="let freeRole of freeRoleList">
                  <td>{{ freeRole.roleName }}</td>
                  <td style="width: 1%">
                    <button class="btn btn-sm btn-outline-info"
                            (click)="onAddRoleClick(freeRole)">
                      Выбрать
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-6">
              <div class="text-md-center mb-2">Выбранные</div>
              <table class="table table-sm table-borderless table-striped">
                <tbody class="table-group-divider">
                <tr *ngFor="let assignedRole of assignedRoleList">
                  <td>{{ assignedRole.roleName }}</td>
                  <td style="width: 1%">
                    <button class="btn btn-sm btn-outline-warning"
                            (click)="onDeleteRoleClick(assignedRole)">
                      Удалить
                    </button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="button" [disabled]="formGroup.invalid" class="btn btn-success" data-bs-dismiss="modal"
                (click)="saveIndividual()">
          Сохранить
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-bg-danger">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Подтвердите удаление</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Внимание! Данное действие приведет к полному удалению без возможности восстановления
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                (click)="deleteIndividual()">
          Подтвердить
        </button>
      </div>
    </div>
  </div>
</div>
