<div class="container my-3">
  <h4 class="text-md-center">Список ролей организаций и физических лиц</h4>
  <table class="table table-sm table-striped text-md-center">
    <thead>
    <tr class="align-top">
      <th>Роль</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
      @for (role of roles; track $index) {
        <tr class="align-middle">
          <ng-template [ngTemplateOutlet]="loadTemplate(role)" [ngTemplateOutletContext]="{$implicit: role}">
          </ng-template>
        </tr>
      }
    </tbody>
  </table>
  <button class="btn btn-md btn-primary" (click)="addRole()">
    Добавить
  </button>
</div>

<ng-template #readTemplate let-role>
  <td>{{ role.roleName }}</td>
  <td style="width: 1%">
    <button class="btn btn-sm btn-outline-warning" (click)="editRole(role)">
      Изменить
    </button>
  </td>
  <td style="width: 1%">
    <button class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"
            (click)="deletedRoleUuid = role.uuid">
      Удалить
    </button>
  </td>
</ng-template>

<ng-template #editTemplate>
  <td>
    <input type="text" class="form-control" [(ngModel)]="editedRole.roleName">
  </td>
  <td style="width: 1%">
    <button class="btn btn-sm btn-success" (click)="saveRole()">
      Сохранить
    </button>
  </td>
  <td style="width: 1%">
    <button class="btn btn-sm btn-secondary" (click)="cancelCreating()">
      Отмена
    </button>
  </td>
</ng-template>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false"
     tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header text-bg-danger">
        <h1 class="modal-title fs-5" id="deleteModalLabel">Подтвердите удаление</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                (click)="cancelDeleting()"></button>
      </div>
      <div class="modal-body">
        Внимание! Данное действие приведет к полному удалению без возможности восстановления
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                (click)="cancelDeleting()">Отмена
        </button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal"
                (click)="deleteRole()">
          Подтвердить
        </button>
      </div>
    </div>
  </div>
</div>
