<div class="fs-4 mx-3">Разделы</div>
<hr>
<ul class="nav flex-column">
  <li class="nav-item">
    <a href="/gwj-list" class="nav-link link-body-emphasis" aria-current="page">Объекты</a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link link-body-emphasis" aria-current="page">Chapter 2</a>
  </li>
  <li class="nav-item">
    <a href="#" class="nav-link link-body-emphasis" aria-current="page">Chapter 3</a>
  </li>
  <li class="nav-item dropdown mb-1">
    <a href="#" class="nav-link link-body-emphasis dropdown-toggle" role="button"
       data-bs-toggle="dropdown" aria-expanded="false">
      Справочники
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="#" class="dropdown-item">d_1</a>
      </li>
      <li>
        <a href="#" class="dropdown-item">d_1</a>
      </li>
      <li>
        <a href="#" class="dropdown-item">d_1</a>
      </li>
    </ul>
  </li>
</ul>
