<div class="row">
  <label class="form-label">Застройщик</label>
  <div class="col">
    <div class="d-flex justify-content-between">
      <div class="fw-medium bg-body-tertiary flex-fill me-3 py-2 px-3 border-bottom" id="developer">
        {{ displayDeveloperName }}
      </div>
      <button class="btn btn-outline-primary" (click)="showDeveloperList()" [disabled]="!developerAsideHidden">
        Выбрать
      </button>
    </div>

    <div id="developerHelp" class="form-text mb-3">
      Фамилия, имя, отчество (последнее - при наличии), адрес места жительства, ОГРНИП, ИНН индивидуального
      предпринимателя, полное и (или) сокращенное наименование, ОГРН, ИНН, место нахождения юридического лица,
      телефон/факс, адрес электронной почты (при наличии) фамилия, имя, отчество (последнее - при наличии),
      паспортные данные, адрес места жительства, телефон/факс, адрес электронной почты (при наличии) - для
      физических лиц, не являющихся индивидуальными предпринимателями
    </div>
    <label class="form-label">Саморегулируемая организация</label>
    <div class="fw-medium bg-body-tertiary d-flex flex-fill py-2 px-3 border-bottom" id="developerSro">
      {{ displayDeveloperSro }}
    </div>
    <div id="developerSro_Help" class="form-text">
      Полное и (или) сокращенное наименование, ОГРН, ИНН саморегулируемой организации, членом которой является
      указанное юридическое лицо или индивидуальный предприниматель (за исключением случаев, когда членство в
      саморегулируемых организациях в области инженерных изысканий, архитектурно-строительного проектирования,
      строительства, реконструкции, капитального ремонта объектов капитального строительства не требуется)
    </div>
  </div>

  <!-- Выбор контрагента из справочника -->
  <div [hidden]="developerAsideHidden" class="col-6">
    <div class="accordion" id="selectDeveloper">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button"
                  data-bs-toggle="collapse" data-bs-target="#individual"
                  aria-expanded="true" aria-controls="individual">
            Физические лица
          </button>
        </h2>
        <div id="individual" class="accordion-collapse collapse" data-bs-parent="#selectDeveloper">
          <div class="accordion-body px-0 py-0">
            <div class="list-group list-group-flush">
              @for (individual of individualList; track $index) {
                <button type="button" class="list-group-item list-group-item-action"
                        (click)="individualSelected(individual)">
                  {{ individual.fullNameGroup.lastName }}
                  {{ individual.fullNameGroup.firstName }}
                  {{ individual.fullNameGroup.middleName }}
                </button>
              }
            </div>
            <div class="text-end mb-2 mx-3">
              <hr class="mt-0 mb-2">
              <button type="button" class="btn btn-sm btn-outline-primary"
                      (click)="createNewCounterparty(CounterpartyType.INDIVIDUAL)">
                <i class="bi-person-add"></i>
                Добавить новое ФЛ
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button"
                  data-bs-toggle="collapse" data-bs-target="#individualEntrepreneur"
                  aria-expanded="true" aria-controls="individualEntrepreneur">
            Индивидуальные предприниматели
          </button>
        </h2>
        <div id="individualEntrepreneur" class="accordion-collapse collapse" data-bs-parent="#selectDeveloper">
          <div class="accordion-body px-0 py-0">
            <div class="list-group list-group-flush">
              @for (ie of individualEntrepreneurList; track $index) {
                <button type="button" class="list-group-item list-group-item-action"
                        (click)="individualEntrepreneurSelected(ie)">
                  {{ ie.fullNameGroup.lastName }}
                  {{ ie.fullNameGroup.firstName }}
                  {{ ie.fullNameGroup.middleName }}
                </button>
              }
            </div>
            <div class="text-end mb-2 mx-3">
              <hr class="mt-0 mb-2">
              <button type="button" class="btn btn-sm btn-outline-primary"
                      (click)="createNewCounterparty(CounterpartyType.INDIVIDUAL_ENTREPRENEUR)">
                <i class="bi-person-add"></i>
                Добавить нового ИП
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#legalEntity"
                  aria-expanded="true" aria-controls="legalEntity">
            Юридические лица
          </button>
        </h2>
        <div id="legalEntity" class="accordion-collapse collapse" data-bs-parent="#selectDeveloper">
          <div class="accordion-body px-0 py-0">
            <div class="list-group list-group-flush">
              @for (le of legalEntityList; track $index) {
                <button type="button" class="list-group-item list-group-item-action"
                        (click)="legalEntitySelected(le)">
                  {{ le.fullName }}
                </button>
              }
            </div>
            <div class="text-end mb-2 mx-3">
              <hr class="mt-0 mb-2">
              <button type="button" class="btn btn-sm btn-outline-primary"
                      (click)="createNewCounterparty(CounterpartyType.LEGAL_ENTITY)">
                <i class="bi-person-add"></i>
                Добавить новое ЮЛ
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div [hidden]="counterpartyCreatedHidden" class="col-6">
    <app-create-counterparty [counterpartyType]="createdCounterPartyType"
                             (onCounterpartyCreated)="onCounterpartyCreated($event)">
    </app-create-counterparty>
  </div>
</div>


